* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: #f6f6f6;
}

.container {
    display: grid;
}

.header {
    display: grid;
    grid-template-columns: 8fr 1fr 1fr 1fr 1fr;
    align-items: center;
    height: 100px;
    font-family: Libre Franklin;
}

.header hr {
    grid-column: 1/6;
    width: 98.5vw;
    border-top: 2px solid rgb(67, 67, 67);
    opacity: 10%;
}

.header h1 {
    margin-left: 90px;
}

.header p {
    margin: 20px;
    padding-top: 10px;
}

.header p :hover {
    text-decoration: underline;
}

.header a {
    text-decoration: none;
    color: black;
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
}

#image-japan {
    display: grid;
    height: 470px;
    width: 710px;
    border-radius: 0px;
    margin-left: 60px;
}

.first-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: left;
    margin: 30px;
}

#article-japan {
    display: grid;
    align-self: flex-start;
    justify-self: flex-start;
    gap: 40px;
    margin-left: 60px;
    margin-right: 110px;
}

.second-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 50px;
    margin: 100px;
}

.second-block div {
    display: grid;
    align-content: space-between;
}

.second-block button {
    display: grid;
    grid-area: 3/2/4/3;
    cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation; 
}

.footer * {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    color: #f6f6f6;
    background-color: #141414;
}

.color hr {
    display: grid;
    justify-self: center;
    margin-bottom: 70px;
    width: 90vw;
    border-top: 2px solid rgb(255, 255, 255);
    opacity: 10%;
}

.color {
    background-color: #141414;
}

.down-menu {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    align-items: baseline;
    gap: 10px;
    margin-right: 40px;
}

.down-menu a {
    text-decoration: none;
    color: #f6f6f6;
}

.down-menu p :hover {
    text-decoration: underline;
}

.name {
    display: grid;
    margin-left: 80px;
    margin-top: 30px;
}

.subscribe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.subscribe input {
    display: grid;
    grid-area: 2/1/3/2;
    height: 40px;
    width: 221px;
    background-color: #f6f6f6;
}

.subscribe button {
    display: grid;
    grid-area: 2/2/3/3;
    bottom: 0.41px;
    background-color: black;
}

#button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(0, 0, 0);
    height: 40px;
    width: 79px;
    cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
}

.theme {
    font-size: 90%;
    opacity: 40%;
}





